@{
    ViewBag.Title = "Home Page";
}

<!-- Header -->
<header id="header">
    <div class="intro">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="intro-text">
                        <h1>ForFoodies</h1>
                        <h2>Good Food Is Good Mood</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Features Section -->
<div id="features" class="text-center">
    <div class="container">
        <div class="section-title">
            <h2>Our Specials</h2>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="features-item">
                    <h3>Better Restaurant Booking System at a Lower Cost</h3>
                    <img src="~/images/booking.jpg" class="img-responsive" alt="">
                    <p>When you combine the largest diner network with a restaurant friendly cost structure, we will make bookings. Contact us to see how you can start saving money on table reservations today.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="features-item">
                    <h3>Videos Receips</h3>
                    <img src="~/images/Capture.JPG" class="img-responsive" alt="">
                    <p>This is the best way for the housewives or who learn best cook. We describe cooking receips videos of best cook in the world. Watch and try to cook best foods!!!!</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="features-item">
                    <h3>Locations</h3>
                    <img src="~/images/location.JPG" class="img-responsive" alt="">
                    <p>Dont worry that you can't find restaurant location that you want to go. You can check the restaurants locationn here!!!!!</p>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Gallery Section -->
<div id="gallery">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <div class="gallery-item"> <img src="~/images/bb.jpg" class="img-responsive" alt="" width="500" height="500"></div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="gallery-item"> <img src="~/images/r2.jpg" class="img-responsive" alt="" width="500" height="500"></div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="gallery-item"> <img src="~/images/r3.jpg" class="img-responsive" alt="" width="500" height="500"></div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="gallery-item"> <img src="~/images/r4.jpg" class="img-responsive" alt="" width="500" height="500"></div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Section -->

<div id="contact" class="text-center">
    
    <div class="container text-center">

        <div class="col-md-4">
            <h3>Reservations</h3>
            <div class="contact-item">
                <p>Please call</p>
                <p>09778179223</p>
                <p>09777231847</p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Gmail Address</h3>
            <div class="contact-item">
                <p>ForFoodies777@gmail.com</p>
                <p>pmgladiator777@gmail.com</p>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Opening Hours</h3>
            <div class="contact-item">
                <p>24 hours Available services</p>

            </div>
        </div>
    </div>


</div>
<script type="text/javascript" src="js/jquery.1.11.1.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/SmoothScroll.js"></script>
<script type="text/javascript" src="js/jqBootstrapValidation.js"></script>
<script type="text/javascript" src="js/contact_me.js"></script>
<script type="text/javascript" src="js/main.js"></script>
